@import url(https://fonts.googleapis.com/css?family=Roboto);

@keyframes fade-in {
	from {padding: 175px 15%; opacity: 0;}
	to {padding: 150px 15%; opacity: 1;}
}

html {
	overflow-y: scroll;
}

body {
	background-image: url(../images/bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: 'Roboto';
	color: #222;
	margin: 0;
}

.nav {
	background-color: white;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.25);
	line-height: 50px;
	margin: 0;
	position: fixed;
	width: 100%;
}

.nav a {
	color: grey;
	text-decoration: none;
	transition: .3s color;
}

#contactBar ul, #navBar ul {
	display: inline;
	list-style: none;
}

#contactBar {
    margin: 0;
    right: 2%;
	padding: 0;
    position: absolute;
	text-align: right;
}

#contactBar li {
	display: inline-block;
	font-size: 20px;
	padding: 0px 15px;
}

#contactBar a.email:hover {
	color: rgb(250,175,58);
}

#contactBar a.github:hover {
	color: #333;
}

#contactBar a.linkedin:hover {
	color: rgb(0,119,181);
}

#navBar {
	margin: 0;
	text-align: center;
}

#navBar li {
	display: inline-block;
	font-size: 16px;
	padding: 0px 25px;
}

#navBar a:hover {
	color: rgb(8,157,227);
}
	
.footer {
    bottom: 0;
    padding-bottom: 1%;
    position: fixed;
	text-align: center;
    width: 100%;
}

.header h1 {
	font-size: 26px;
	margin: 0;
	padding: 200px 100px;
	text-align: center;
}

.profile {
	animation: 0.7s fade-in;
	padding: 150px 15%;
}

.profile img {
	float: right;
}

.img-circle {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	margin-left: 75px;
}

#legend {
	color: rgba(0,0,0,0.5);
	font-size: 11px;
	margin-top: 51px;
	padding: 10px;
	position: fixed;
}

#legend span {
	color: black;
	font-weight: 600;
}

.experience-blue {
	background-color: rgb(8,157,227);
	display: block;
	height: 450px;
	padding: 40px 15%;
}

.experience-blue h1 {
	color: powderblue;
	font-size: 26px;
}

.experience-blue p {
	color: white;
	font-weight: 600;
	padding-bottom: 25px;
}

.experience-blue a {
	color: powderblue;
	text-decoration: none;
	transition: .3s color;
}

.experience-blue a:hover {
	color: white;
}

.experience-skills {
	table-layout: fixed;
	margin-top: 75px;
	text-align: center;
	width: 100%;
}

.experience-skills th {
	color: powderblue;
	font-size: 26px;
}

.experience-skills td {
	color: white;
	font-weight: 600;
	line-height: 40px;
	vertical-align: top;	
}

.experience-work {
	padding: 40px 15% 0px;
}

.experience-work h1 {
	line-height: 10px;
}

.experience-work h2 {
	color: rgb(8,157,227);
	font-size: 20px;
	line-height: 10px;
}

.experience-work h3 {
	color: darkgray;
	font-size: 18px;
	font-weight: 500;
	line-height: 10px;
}

.experience-work p {
	padding-top: 15px;
	padding-bottom: 75px;
}

.experience-work img {
	display: block;
	margin: auto;
	max-height: 150px;
	max-width: 300px;
}

.experience-coursework {
	background-color: rgb(8,157,227);
	display: block;
	height: 700px;
	padding: 40px 15%;
}

.experience-coursework h1 {
	color: powderblue;
	font-size: 26px;
}

.experience-coursework p {
	color: white;
	padding-bottom: 25px;
}

.experience-coursework a {
	color: powderblue;
	text-decoration: none;
	transition: .3s color;
}

.experience-coursework a:hover {
	color: white;
}
